* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-blue: #1a237e;
  --dark-blue: #0d47a1;
  --orange: #ff6f00;
  --light-orange: #ff8f00;
  --white: #ffffff;
  --gray: #f5f5f5;
  --text-dark: #333333;
  --text-light: #666666;
}


